// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(PFBeauSansPro, pfbeausanspro-semibold-webfont)  
=pfb
	font-family: "PFBeauSansPro", Arial, sans-serif 

=rob
	font-family: "Roboto", sans-serif
	
=mp
	font-family: "Myriad Pro",serif

body
	font-family: Arial, sans-serif 
	font-size: 13px 
	line-height: 1.4


// common blocks
//out
.out
	min-width: 1024px
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -150px
	background: #fcfcfc
	background: url(../img/aut-bg.png) repeat-x 0 155px
	&.out_main
		background: url(../img/aut-bg.png) repeat-x 0 605px


//container
.container
	margin: 0 auto
	padding: 0 17px
	width: 1024px
	+clr
	+box
	&.container_mod
		padding: 0

//title
.title
	padding: 30px 0 20px
	color: #212121
	font-size: 26px
	line-height: 1.2
	+pfb
	&:first-child,
	&.title_top
		padding-top: 0
	&.title_table
		padding-left: 15px

//ico
.ico
	display: inline-block
	&.ico_people   
		+s(people__ico)
	&.ico_partner  
		+s(partner__ico)
	&.ico_presscenter  
		+s(press-center)
	&.ico_about
		+s(about)
	&.ico_f
		+s(f)
	&.ico_time-black
		+s(ico__date-black)
	&.ico_time
		+s(ico__date)
	&.ico_calendar
		+s(calendar__ico)
	&.ico_info
		+s(info__ico)
	&.ico_exel
		+s(excel__ico)
	&.ico_word
		+s(word__ico)
	&.ico_upd
		+s(calendar__upd)
	&.ico_rss
		+s(rss__ico)
	&.ico_prev
		+s(pag-prev)
	&.ico_next
		+s(pag-next)

//banners
.banners
	margin-top: 55px
	padding-top: 25px
	font-size: 0
	height: 199px
	text-align: center
	+border-radius(3px)
	+box-shadow(inset 0 1px 6px rgba(0,0,0,.04))
	+background-image(linear-gradient(top, rgba(230,230,230,.75) 0%, rgba(230,230,230,.15) 100%))
	background-color: #eaeaea
	+box
	.container
		font-size: 0
	.banner
		position: relative
		width: 320px
		height: 142px
		margin-left: 12px
		cursor: pointer
		overflow: hidden
		display: inline-block
		&:first-child
			margin-left: 0
		img
			width: 100%
			display: block
	.banner__name
		position: absolute
		top: 50%
		left: 50%
		margin: -52px 0 0 -52px
		width: 104px
		height: 104px
		line-height: 104px
		color: #fff
		text-align: center
		font-size: 13px
		text-transform: uppercase
		font-weight: bold
		+border-radius(50%)
		z-index: 2
		background-color: #7fcbed
		background: rgba(#7fcbed, 0.7)

//breadcrumbs
.breadcrumbs
	padding: 25px 0 35px
	li
		padding-right: 10px
		color: #0076a3
		font-weight: bold
		display: inline-block
	a, i
		font-size: 13px
		font-weight: normal
	a
		color: #0076a3
		text-decoration: underline
		&:hover
			text-decoration: none
	i
		padding-left: 10px

//scroll-pane
.scroll-pane
	.jspContainer
		padding-bottom: 22px
	.jspHorizontalBar
		background: none
		.jspDrag
			top: 1px
			height: 7px
			background: #818181
			+border-radius(2px)
	.jspTrack
		width: 18px 
		background: none

//select
.select
	position: relative
	cursor: pointer
	font-size: 13px
	font-weight: bold
	display: inline-block
	&.select_year
		width: 67px
	&.select_month
		margin-left: 13px
		width: 117px
.select__text
	position: relative
	display: block
	padding: 0 20px 0 10px 
	height: 33px
	line-height: 33px
	color: #212121
	+border-radius(3px)
	+box-shadow(0 1px 1px rgba(3,120,164,.33), inset 0 0 0 1px rgba(255,255,255,.29))
	background: #ebf5ff
	+background-image(linear-gradient(bottom, #ebf5ff 0%, #f5faff 100%))
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	&:after
		content: ""
		position: absolute
		right: 10px
		top: 50%
		margin-top: -3px
		border-style: solid
		+arr(7, 6, #525151, b)
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	margin-top: -1px
	z-index: 100
	max-height: 200px
	overflow-x: hidden
	overflow-y: auto
	background: #fff
	border: 1px solid #c1dee9
	border-top: none
	+border-radius(0 0 3px 3px)
	+box-shadow(0 1px 1px rgba(3,120,164,.33), inset 0 0 0 1px rgba(255,255,255,.29))
	+background-image(linear-gradient(bottom, #ebf5ff 0%, #f5faff 100%)) 
	li
		padding: 5px 11px 
		cursor: pointer
		line-height: 1
		&:hover
			background: #717791
			color: #fff 