//header    
.header
    border-top: 2px solid #ffe59f
    background: url(../img/header__bg.png) repeat-x 50% 100% 
    background-size: contain
    +box
    .container
        height: 154px
        position: relative
    .header__wrap
        +clr
    .header__left
        float: left
        width: 524px
        +clr
    .header__right
        float: right
        width: 500px
    .header__menu
        position: absolute
        left: 0
        right: 0
        bottom: 0
        font-size: 0
//logo
.logo
    float: left
    margin: 10px 0 0 25px
    display: inline-block
    +s(logo)

//searh
.search
    position: relative
    margin-top: 28px
    float: right
    width: 266px
    input
        padding: 0 30px 0 20px
        height: 36px
        width: 100%
        font-size: 13px
        color: #adabab
        border: 1px solid #d6d9dc
        display: block
        +placeholder-color(#adabab)
        +box
    .search__btn
        position: absolute
        right: 13px
        top: 50%
        margin-top: -7px
        display: inline-block
        +s(search__ico)
//usaid
.usaid
    margin-top: 24px
    +s(usaid__ico)

//pact
.pact
    margin-top: 15px
    +s(pact__ico)
.pact, .usaid
    float: right
    margin-right: 58px
    display: inline-block

//language
.language
    float: right
    padding: 34px 0 0 8px
    width: 75px
    height: 61px
    font-size: 0
    border-left: 1px solid #bfbfbf
    +box
    .language__item
        color: #5f6370
        padding: 0 5px
        height: 22px
        line-height: 20px
        font-size: 14px
        cursor: pointer
        text-decoration: none
        display: inline-block
        +rob
        &.is-active
            color: #fff
            background: #646568
            +border-radius(7px 0 7px 0)
//menu
.menu
    width: 100%
    background-color: #212121
    +box-shadow(inset 0 1px 0 rgba(0,0,0,.1))
    +background-image(linear-gradient(bottom, rgba(0,0,0,.03) 0%, rgba(255,255,255,.03) 100%))
    display: table
    .menu__item
        display: table-cell
        border-right: 1px solid #404143
        +transition(all 0.2s linear)
        &:hover
            background: #303132
            +background-image(linear-gradient(bottom, #303132 0%, #3f4041 100%))
            .menu__list
                visibility: visible
                +opacity(1)
            a
                &:before
                    +rotate(180)
        &:first-child
            a
                &:before
                    position: absolute
                    content: ''
                    top: 23px
                    right: 10px
                    +transition(all 0.2s linear)
                    +arr(9, 6, #7a7c87, b)
        a
            position: relative
            padding: 0 10px
            height: 55px
            line-height: 53px
            text-transform: uppercase
            text-decoration: none
            color: #fff
            font-size: 12px
            +box-shadow(inset 0 1px 0 rgba(0,0,0,.3))
            display: block
            +box
        .ico
            margin-right: 12px
            margin-top: -3px
            vertical-align: middle
            &.ico_partner
                margin-top: 0 
    .menu__list
        position: absolute
        top: 100%
        left: 0
        right: 0
        padding: 18px 0
        font-size: 0
        z-index: 205
        background: #2e2e2f
        visibility: hidden
        +transition(all 0.2s linear)
        +opacity(0)
        +box
        li
            padding-left: 35px
            height: 27px
            width: 25%
            display: inline-block
            +box
        a
            height: auto
            line-height: 1.4
            color: #f9c40a
            font-size: 12px
            text-transform: none
            +transition(all 0.1s linear)
            +box-shadow(none)
            display: inline
            &:hover
                color: #ffe382
            &:before
                display: none